<mat-toolbar color="primary" class="app-header">

    <mat-toolbar-row *ngIf="client">

        <button (click)="toggleMenu()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>

        <div><a mat-button routerLink="/root" class="appName">ClientsApp</a></div>

        <span class="menu-spacer">
            <a mat-button routerLink="/root/client">Clientes</a>
            <a mat-button routerLink="/root/occupation">Cargos</a>
        </span>

        <span class="nav-tool-items" align="right">
            <a mat-button (click)="logout()">Sair</a>
        </span>

    </mat-toolbar-row>

    <mat-toolbar-row>
        <span class="span-row">ClientsApp ajuda você a gerenciar facilmente seus clientes</span>
    </mat-toolbar-row>

</mat-toolbar>