<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Conecte-se</mat-card-title>
        </mat-card-header>

        <form class="example-form">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nome do usuário">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Senha">
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block">Conecte-se</button>
        </form>
    </mat-card>

</div>