#radio-group-label {
    margin-left: 35px;
    margin-right: 25px;
}

.example-radio-button {
    margin-right: 25px;
    margin-bottom: 40px;
}

.mat-label {
    color: blueviolet;
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    margin-right: 30px;
}

.mat-form-field {
    margin: 15px 40px;
}
