<h1 mat-dialog-title>{{ data.description }}</h1>

<div mat-dialog-content>

    <mat-label class="mat-label">Dados Pessoais:</mat-label>
    <mat-form-field color="accent">
        <mat-label>Nome</mat-label>
        <input matInput name="name" required maxlength="100" placeholder="Nome"
            [(ngModel)]="data.clientForCreateUpdate.name" />
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>CPF</mat-label>
        <input matInput name="socialSecurityNumber" required maxlength="14" placeholder="CPF"
            [(ngModel)]="data.clientForCreateUpdate.socialSecurityNumber" />
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Cargo</mat-label>
        <mat-select name="idOccupation" required [(ngModel)]="data.clientForCreateUpdate.idOccupation">
            <mat-option *ngFor="let occupation of occupations" [value]="occupation.id">
                {{ occupation.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Data de Nascimento</mat-label>
        <input matInput [matDatepicker]="dataNascimento" name="dateOfBirth" required placeholder="Data de Nascimento"
            [(ngModel)]="data.clientForCreateUpdate.dateOfBirth" />
        <mat-datepicker-toggle matSuffix [for]="dataNascimento"></mat-datepicker-toggle>
        <mat-datepicker #dataNascimento></mat-datepicker>
    </mat-form-field>

    <mat-label id="radio-group-label">Selecione o Sexo: </mat-label>
    <mat-radio-group aria-labelledby="radio-group-label" class="example-radio-group" required
        [(ngModel)]="data.clientForCreateUpdate.sex">
        <mat-radio-button class="example-radio-button" *ngFor="let sex of genders" [value]="sex">
            {{ sex }}
        </mat-radio-button>
    </mat-radio-group>

    <mat-form-field color="accent">
        <mat-label>E-Mail</mat-label>
        <input matInput name="email" required maxlength="50" placeholder="E-Mail"
            [(ngModel)]="data.clientForCreateUpdate.email" />
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Senha</mat-label>
        <input matInput name="password" required maxlength="50" placeholder="Senha"
            [(ngModel)]="data.clientForCreateUpdate.password" />
    </mat-form-field>

    <mat-label class="mat-label">Endereço:</mat-label>
    <mat-form-field color="accent">
        <mat-label>CEP</mat-label>
        <input matInput name="postalCode" required maxlength="10" placeholder="CEP"
            [(ngModel)]="data.clientForCreateUpdate.address.postalCode" (blur)="getAddress($event.target.value)" />
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Logradouro</mat-label>
        <input matInput name="publicPlace" required maxlength="100" placeholder="Logradouro"
            [(ngModel)]="data.clientForCreateUpdate.address.publicPlace" />
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Número</mat-label>
        <input matInput type="number" name="number" required placeholder="Número"
            [(ngModel)]="data.clientForCreateUpdate.address.number" />
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Complemento</mat-label>
        <input matInput name="complement" maxlength="50" placeholder="Complemento"
            [(ngModel)]="data.clientForCreateUpdate.address.complement" />
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Bairro</mat-label>
        <input matInput name="neighborhood" required maxlength="50" placeholder="Bairro"
            [(ngModel)]="data.clientForCreateUpdate.address.neighborhood" />
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Localidade</mat-label>
        <input matInput name="locality" required maxlength="50" placeholder="Localidade"
            [(ngModel)]="data.clientForCreateUpdate.address.locality" />
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Estado</mat-label>
        <input matInput name="state" required maxlength="50" placeholder="Estado"
            [(ngModel)]="data.clientForCreateUpdate.address.state" />
    </mat-form-field>

</div>

<div mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onNoClick()">
        <mat-icon>clear</mat-icon>Cancelar
    </button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data.clientForCreateUpdate">
        <mat-icon>save</mat-icon>Salvar
    </button>
</div>