table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.example-button-container {
    display: flex;
    justify-content: left;
    width: 120px;
}

.btn-plus {
    background-color: orange;
}
